@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff)
      format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff)
      format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"),
    url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff)
      format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  font-size: 0.75em;
  overflow-x: hidden;
}

footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 1.5em;
  color: #a0a0a0;
}

ul,
li,
img {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  margin: 1.5em;
}

p {
  text-align: justify;
}

h1,
section,
h2 {
  margin-bottom: 0;
}
h2 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

nav li {
  margin-top: 2.5em;
}

.description a,
.description a:visited {
  color: white;
}

.rss-list {
  margin-top: 7em;
}

.page-size,
.page-size-hero {
  background-color: black;
  color: white;
}

.page h1,
main h2 {
  font-size: 12em;
  font-family: "Roboto", sans-serif;
}

.page-size {
  font-size: 0.5em;
  height: 800px;
  padding: 0 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-size-hero,
.about-page {
  min-height: 100vh;
}

.page-size-hero {
  padding: 0 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-size-wf {
  background-color: #fff;
  padding: 5em;
}

#static-items {
  position: relative;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  top: 0;
}

#logo-img {
  margin: 1em 2.5em;
}

#brand {
  color: #fff;
  position: relative;
  display: block;
  font-size: 2.3em;
  padding: 1em 1em 1em 1.5em;
  font-weight: 300;
}

#brand b {
  font-weight: 600;
}

.hidden {
  display: none !important;
}
.hidden2 {
  visibility: hidden;
}

#menu-content {
  display: flex;
  background-color: #000;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

#menu-content nav {
  display: flex;
  flex-direction: column;
  margin-left: 3.5em;
}

#menu-content nav a {
  color: white;
  font-size: 4em;
  font-weight: 100;
}

#menu-content .rss-el a {
  font-size: 2em;
  font-weight: 100;
}

#menu-content li:nth-of-type(1) {
  animation: transitionIn 0.8s;
}
#menu-content li:nth-of-type(2) {
  animation: transitionIn 1.2s;
}
#menu-content li:nth-of-type(3) {
  animation: transitionIn 1.8s;
}
#menu-content li:nth-of-type(4) {
  animation: transitionIn 2.2s;
}

#menu-content li > a:hover,
#nav-icon span:hover {
  font-weight: 500;
  transition: 0.5s;
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 3em;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.grid-container {
  font-size: 1.4em;
  margin: auto;
  width: 90%;
}

.grid-container .title {
  font-family: "Roboto", sans-serif;
  font-size: 4em;
  font-weight: 600;
  padding-bottom: 1em;
}
.grid-container .intro {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-bottom: 1em;
}
.grid-container .text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-bottom: 1.5em;
}

.grid-container a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #000000;
}

.grid-container img {
  width: 100%;
  max-width: 34em;
  margin-top: 2em;
  margin-bottom: 4em;
}

.grid-container img {
  padding: 0;
  margin: 1.7em 0;
}

.active::before {
  position: absolute;
  margin-left: -50px;
  margin-top: -10px;
  content: " ";
  background-image: url(@/assets/vectors/menu_active.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 95px;
  height: 100px;
}

img.rss {
  display: inline;
  width: 1em;
  height: 1em;
  margin: 0 5px 0;
}

div.rss-el {
  margin-right: 20px;
  display: inline;
}

.rss-list {
  margin-top: 7em;
}

.vectors {
  height: 0;
  width: 0;
  position: absolute;
  top: 0vh;
  margin-left: 450px;
}

.vectors div:nth-of-type(1) {
  background: url(@/assets/vectors/vector-1.svg) no-repeat top left;
  background-size: contain;
  width: 150px;
  height: 202px;
  position: relative;
  top: 190px;
}

.vectors div:nth-of-type(2) {
  background: url(@/assets/vectors/vector-2.svg) no-repeat top left;
  background-size: contain;
  position: relative;
  width: 230px;
  height: 270px;
  left: 100px;
  top: -20px;
}

.vectors div:nth-of-type(3) {
  background: url(@/assets/vectors/vector-3.svg) no-repeat top left;
  background-size: contain;
  position: relative;
  width: 200px;
  height: 252px;
  left: 240px;
  top: -150px;
}

/*26-fev*/
.subtitle {
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  max-width: 28em;
}

.page-size > * {
  position: absolute;
}

.layers-left {
  background: url(@/assets/vectors/layers-left.svg) no-repeat top left;
  background-size: contain;
  width: 500px;
  height: 500px;
  position: absolute;
  margin-left: 20%;
  margin-top: -200px;
  margin-right: 60%;
}

.layers-right {
  background: url(@/assets/vectors/layers-right.svg) no-repeat top left;
  background-size: contain;
  width: 500px;
  height: 500px;
  position: absolute;
  margin-right: 10%;
  margin-left: 60%;
  margin-top: 400px;
}

.page-size img {
  margin-top: -20%;
  margin-right: 10%;
  margin-left: 30%;
  width: 90%;
  max-width: 700px;
}

.description {
  margin-top: 400px;
  margin-right: 20%;
}

.description h1 {
  color: white;
}

#scroll-to-explore {
  font-size: 1.4em;
  bottom: -140px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  font-weight: 500 !important;
}

.caracter {
  bottom: -25px;
  position: relative;
  animation: saltar 2s ease-in-out infinite;
  display: inline-block;
}

#static-items {
  background-position-y: 400px;
  background-size: cover;
}

body:not(:has(#menu-content.hidden)) #static-items,
*:has(.about-page) #static-items {
  background: none;
  background-color: transparent !important;
}

*:not(:has(#menu-content.hidden)) body,
body:has(.page-size) body {
  overflow-y: hidden;
  overflow-x: hidden;
}

*:has(main) #static-items,
*:has(.about-page) #static-items {
  right: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  top: 0;
  background-color: transparent !important;
}

*:has(.about-page) footer {
  display: none;
}

.footer-list {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: white;
}

.footer-list * {
  margin-left: 20px;
}

.footer-list a {
  color: white;
}
.footer-list a:hover {
  text-decoration: underline;
}

*:not(:has(#menu-content.hidden)) #static-items {
  background-image: none !important;
}

@media (max-width: 1024px) {
  .page h1 {
    font-size: 7em;
    padding: 0;
  }

  #static-items svg {
    margin: 1em 2em;
  }

  #menu-content {
    flex-direction: column;
  }

  #logo-big {
    height: 20px;
  }

  #menu-content nav a {
    color: white;
    font-size: 3em;
    font-weight: 100;
  }

  #rss a {
    font-size: 2em !important;
    font-weight: 100;
    color: white;
  }

  #menu-content .rss-el a {
    font-size: 1.5em;
    font-weight: 100;
  }

  nav li {
    margin-top: 2em;
  }

  #logo-big {
    display: none;
  }

  .vectors {
    height: 0;
    width: 0;
    top: 120px;
    left: -10rem;
    margin-left: 450px;
    transform: scale(50%) translateX(50vw) translateY(150px);
  }

  .layers-left,
  .layers-right {
    width: 300px;
    height: 300px;
  }

  .page-size img {
    width: 75%;
  }

  .active::before {
    height: 70px;
    margin-left: -32px;
  }

  .description {
    margin-top: 380px;
    margin-left: 10em;
    width: auto;
    position: absolute;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    margin: auto;
    width: 80%;
    max-width: 90em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4em;
  }

  .invert-order {
    order: 1;
  }
}

@media (max-width: 768px) {
  .page-size-hero,
  .about-page {
    min-height: 90vh;
  }
  .page-size {
    height: 580px;
  }

  .page-size-wf {
    padding: 1em;
  }

  .page-size-wf .title {
    padding: 0.8em 0 0.5em;
    font-size: 3em;
  }

  .page-size h1,
  .page-size-hero h1 {
    z-index: 2;
    font-size: 5em;
  }

  .page-size h2 {
    line-height: 0.6;
    margin-bottom: 30px;
  }

  #static-items {
    background-color: #000;
  }

  #brand {
    padding: 0 1em;
  }

  #static-items svg {
    height: 40px;
    margin: 1em;
    margin-left: 0;
  }

  div.rss-el {
    margin-right: 10px;
  }

  #nav-icon {
    margin: 1.7em;
    width: 30px;
    height: 22.5px;
  }

  .active::before {
    height: 70px;
    margin-left: -32px;
  }

  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
  }

  #nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon span:nth-child(3) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1.5px;
    left: 4px;
  }

  #nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px;
    left: 4px;
  }
  .vectors {
    height: 0;
    width: 0;
    top: 27vh;
    left: -22rem;
    margin-left: 450px;
    transform: scale(40%) translateX(60vw);
  }

  .layers-left,
  .layers-right {
    width: 200px;
    height: 200px;
  }

  .page-size img {
    max-width: 60%;
  }

  .description {
    margin-left: 10em;
    width: auto;
    position: absolute;
    margin-top: 270px;
  }

  .description a {
    font-size: 0.6em;
  }
  *:has(.about-page) #static-items,
  :has(main) #static-items {
    background-color: #000 !important;
  }
  .footer-list {
    margin-left: 0;
  }
}
